{% extends "base.html" %}

{% block head %}
<title>Home</title>  
{% endblock %}

{% block content %}





<div class="flex-main">
    
    <nav class="flex-nav" id="colorbox"> 
          <label for="colorChange">Pick your color    </label>
          <input type="color" value="#000000" id=colorChange>
    </nav>
  
  
    <article class="flex-article">
       
       
        <h2 class="header"> {{ title }} <div class="value"><p><span id="HexValue"></span></p></div></h2>
        
        
        <div class="flex-container">
            
                <div class="row">
                {% for color in colorlist %} 
                    <div class="col-md-3">
                        <div class="border">
                        {{ color.description() }}
                    </div>
                    </div>{% endfor %}
                </div>

        </div>
    </article>
  
  </div>
  



{% endblock %}